<!--suppress HtmlFormInputWithoutLabel -->
<div class="title"><strong class="d-block">Reconciliation report</strong>
    <span
        class="d-block">
        Accounts payable<br>
        STIB/MIVB<br>
        63 Rue de Colonies<br>
        Brussels<br>
        1000<br><br>

        Unmatched transactions for <i th:text="${dataset.name}"><!--De Lijn | Ingenico--></i><br><br>
        <i th:utext="${dataset.address}"></i>
    </span>
</div>

<hr>

<div class="block-body">
    <form id="none" name="none" class="form-horizontal">
        <div class="form-group row">
            <label class="col-sm-3 form-control-label">Start date</label>
            <div class="col-sm-9">
                <input th:value="${dataset.startDate}" type="text" class="form-control form-control-success" disabled/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 form-control-label">End date</label>
            <div class="col-sm-9">
                <input th:value="${dataset.endDate}" type="text" class="form-control form-control-success" disabled/>
            </div>
        </div>

        <hr>
        <br>

        <th:block th:each="transaction : ${transactions}">
            <div class="form-group row">
                <label class="col-sm-3 form-control-label" th:text="'Transaction id: ' + ${transaction.BookingId}"></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-success" disabled th:value="'Date: ' + ${transaction.PurchasedAtDate}"/>
                    <input type="text" class="form-control form-control-success" disabled th:value="'Product: ' + ${transaction.ProductId}"/>
                    <input type="text" class="form-control form-control-success" disabled th:value="'Amount: ' + ${transaction.GrossTransactionalAmount}"/>
                </div>
            </div>
        </th:block>

        <hr>

        <th:block th:each="msp : ${dataset.productTotals}">
            <th:block th:each="productTotals : ${msp.value}">
                <th:block th:each="total : ${productTotals}">
                    <div class="form-group row">
                        <label class="col-sm-3 form-control-label" th:text="${total.key}"></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-success" disabled th:value="${total.value}"/>
                        </div>
                    </div>
                </th:block>
            </th:block>
        </th:block>
    </form>
</div>

<hr>
<hr>
<hr>
<br>