<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Transactions Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Date: <div th:text="${date}"></div></div>
<div>Transactions for: <div th:text="${dataset.name}"></div></div>

<table>
    <tr>
        <th>Date</th>
        <th>Product id</th>
        <th>Amount</th>
    </tr>
    <tr th:each="transaction : ${transactions}">
        <!--suppress ThymeleafVariablesResolveInspection -->
        <td th:text="${transaction.PurchasedAtDate}">Date</td>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <td th:text="${transaction.ProductId}">Description</td>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <td th:text="${transaction.GrossTransactionalAmount}">amount</td>
    </tr>
</table>

</body>
</html>