<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My first template with Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="${date}">The date : </p>
<p th:text="${dataset.name}">Transactions reconciliation for : </p>

<table>
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
    </tr>
    <tr th:each="transaction : ${transactions}">
        <!--suppress ThymeleafVariablesResolveInspection -->
        <td th:text="${transaction.date}">Date</td>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <td th:text="${transaction.description}">Description</td>
        <!--suppress ThymeleafVariablesResolveInspection -->
        <td th:text="${transaction.amount}">amount</td>
    </tr>
</table>

</body>
</html>